<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flex</title>
  <style>
    #parent{
      display: flex;
      height: 300px;
    }
    #left{
      width: 100px;
      background: rgb(233, 200, 200);
    }
    #middle{
      flex: 1;
      background: rgb(61, 182, 101);
    }
    #right{
      width: 200px;
      background: coral;
    }
  </style>
</head>
<body>
    <div id="parent">
      <div id="left">左列定宽</div>
      <div id="middle">中间自适应</div>
      <div id="right">右列定宽</div>
    </div>
</body>
</html>