<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flex</title>
  <style>
    #parent{
      display: flex;
      height: 300px;
      width: 100%;      
    }
    #left{
      background: salmon;      
      width: 100px;
    }
    #right{
      background: goldenrod;  
      flex: 1;    
    }
  </style>
</head>
<body>
  <div id="parent">
    <div id="left">左列定宽</div>
    <div id="right">右列自适应</div>
  </div>
</body>
</html>