<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>float + margin 版本2</title>
  <style>
    #left{
      background: salmon;
      float: left;
      width: 100px;
      height: 300px; 
    }
    #right-fix{
      float: right;
      width: 100%;
      /* 正值大于或等于#left的宽度,才能显示在同一行 */
      margin-left: -100px;  /* 会将#left遮盖住 */
    }
    #right{
      background: goldenrod;
      height: 300px;
      margin-left: 100px; /* 露出#left部分 */
    }
  </style>
</head>
<body>
  <div id="left">左列定宽</div>
  <div id="right-fix">
    <div id="right">右列自适应</div>    
  </div>
</body>
</html>