<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>float + overflow</title>
  <style>
    #left{
      background: salmon;
      float: left;
      width: 100px;
      height: 300px; 
    }
    #right{
      background: goldenrod;
      height: 300px;
      overflow: hidden;  /* 触发bfc */
    }
    /* 浮动脱离文档流，需要手动清除浮动，否则会产生高度塌陷 */
  </style>
</head>
<body>
  <div id="left">左列定宽</div>
  <div id="right">右列自适应</div>
</body>
</html>