<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>float + margin</title>
  <style>
    #left{
      background: salmon;
      float: left;
      width: 100px;
      height: 300px; 
    }
    #right{
      background: goldenrod;
      margin-left: 200px; /* 大于等于#left的宽度 */
      height: 300px;
    }
  </style>
</head>
<body>
  <div id="left">左列定宽</div>
  <div id="right">右列自适应</div>
</body>
</html>