<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>grid</title>
  <style>
    #parent{
      display: grid;
      grid-template-columns: 100px auto;
      height: 300px;
      width: 100%;
    }
    #left{
      background: salmon;      
    }
    #right{
      background: goldenrod;         
    }
  </style>
</head>
<body>
  <div id="parent">
    <div id="left">左列定宽</div>
    <div id="right">右列自适应</div>
  </div>
</body>
</html>